<%- include('partials/_header') %>

    <!-- Sección de noticias -->
    <div class="container mt-5">
        <h1>Bienvenido/a al Portal de la Municipalidad de Malargüe</h1>

        <h2>Últimas Noticias sobre el Dengue</h2>
        <p class="lead">Mantente informado sobre las medidas de prevención y control del dengue en nuestra comunidad.
        </p>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/img/prevencion.jpg" class="card-img-top" alt="Noticia sobre el dengue">
                    <div class="card-body">
                        <h5 class="card-title">Medidas Preventivas contra el Dengue</h5>
                        <p class="card-text">Aprende cómo evitar la propagación del mosquito Aedes aegypti y proteger a
                            tu familia. Recuerda eliminar lugares donde pueda acumularse agua.</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-img-container" style="height: 310px; overflow: hidden; position: relative;">
                        <img src="/img/casos.png" class="card-img-top" alt="Noticia sobre el dengue"
                            style="position: absolute; bottom: 0; left: 0; width: 100%; height: auto;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Casos Confirmados en la Región</h5>
                        <p class="card-text">Conoce los últimos informes de salud sobre los casos de dengue en Malargüe
                            y las áreas cercanas. Mantente informado sobre las acciones locales.</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/img/noticia.jpg" class="card-img-top" alt="Noticia sobre el dengue">
                    <div class="card-body">
                        <h5 class="card-title">Campaña de Concientización</h5>
                        <p class="card-text">La municipalidad lanza una nueva campaña para promover la eliminación de
                            criaderos del mosquito y la prevención del dengue en la ciudad.</p>
                        <a href="#" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer') %>